@using DFBlazor.Data;

<input type="text" class="form-control" value="@attr.Name" />
<div class="form-text">Attribute</div>
<Value V="attr.Value"></Value>

@code {
    [Parameter]
    public AttributeModel attr { get; set; }
    private EAVLibrary lib = new EAVLibrary();
    public string NewValue { get; set; }

    protected override void OnInitialized() {
        base.OnInitialized();

        if (attr.Value == null) {
            attr.Value = new ValueModel();
        }
    }

    public async Task<bool> SaveAttribute() {
        return await lib.SaveAttribute(attr);

    }
}
