@using DFBlazor.Data;

<div class="card text-white bg-dark mb-3">
    <div class="card-title">
        <input type="text" class="form-control" value="@entity.Name" />
        <div class="form-text">Entity Name</div>
        @*<button type="button" class="btn btn-primary">Add Entity</button>*@
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                @if (entity.Attributes != null && entity.Attributes.Count > 0) {
                    @foreach (AttributeModel a in entity.Attributes) {
                        <Attribute attr="a"></Attribute>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button @onclick="AddAttribute" class="btn btn-outline-light">Add Attribute</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EntityModel entity { get; set; }
    public AttributeModel A { get; set; }

    protected override void OnInitialized() {
        base.OnInitialized();

        A = new AttributeModel();

        if (entity.Attributes == null) {
            entity.Attributes = new List<AttributeModel>();
        }
    }

    private void AddAttribute() {
        entity.Attributes.Add(A);
        A = new AttributeModel();
        StateHasChanged();
    }
}
