@using DFBlazor.Data;

<input type="text" class="form-control" value="@V.Data" />
<div class="form-text">Value</div>
<br />

@code {
    [Parameter]
    public ValueModel V { get; set; }
    private EAVLibrary lib = new EAVLibrary();

    protected override void OnInitialized() {
        base.OnInitialized();
    }

    public async Task<bool> SaveValue() {
        return await lib.SaveValue(V);
    }
}
