@page "/chatgpt"

<h3>ChatGPT API</h3>
<p>
    This is the free version of the API so don't go too crazy folks.  
    Will hopefully be adding token selection and temperature so that the responses are a bit better.
    None of this is saved at the moment, though you can be sure ChatGPT is saving it ;)
</p>
<ChattyGPT></ChattyGPT>
@code {

}
