@page "/counter"

<PageTitle>DF:Counter</PageTitle>

<AuthorizeView Roles="admin">
    <Authorized>
        <p role="status">You are logged in as an administrator via Roles</p>
    </Authorized>
    <NotAuthorized>
        <p role="status">No admin detected</p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Policy="AdminOnly">
    <Authorized>
        <p role="status">You are logged in as an administrator via Claims</p>
    </Authorized>
    <NotAuthorized>
        <p role="status">No admin detected</p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Policy="SupportedCityPolicy">
    <Authorized>
        <h1>Counter</h1>

        <p role="status">Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
    <NotAuthorized>
        <p role="status">You are not authorized to see this component.</p>
    </NotAuthorized>
    <Authorizing>
        <p role="status">Authorization in progress...</p>
    </Authorizing>
</AuthorizeView>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
