@page "/eav"
@using DFBlazor.Data;
<PageTitle>DF:E-A-V</PageTitle>

<h1>E-A-V</h1>

<p>Implementation of an Entity, Attribute, Value database.  No saving currently, just the mechanics of a simple EAV.</p>

<div class="row">
    @foreach(EntityModel e in Entities) {
        <div class="col-2">
            <Entity entity="@e"></Entity>
        </div>
    }
</div>
<button type="button" @onclick="CreateNewEntity" class="btn btn-success">Create New Entity</button>

@code {
    public IList<EntityModel> Entities;
    public EntityModel E;

    protected override void OnInitialized() {
        base.OnInitialized();

        Entities = new List<EntityModel>();
        E = new EntityModel();
        Entities.Add(E);
    }

    private void CreateNewEntity() {
        E = new EntityModel();
        Entities.Add(E);
    }
}
