@page "/eav"
@using DFBlazor.Data;

<h3>EAV</h3>

<p class="h5">Entity</p>
<Entity E="@E"></Entity>

<p class="h5">Attribute</p>
<Attribute A="@A"></Attribute>

<p class="h5">Value</p>
<Value V="@V"></Value>

@code {
    public IList<EntityModel> Entities;
    public EntityModel E;
    public AttributeModel A;
    public ValueModel V;

    protected override void OnInitialized() {
        base.OnInitialized();

        Entities = new List<EntityModel>();
        E = new EntityModel();
        A = new AttributeModel();
        V = new ValueModel();
    }
}
