@page "/"

<PageTitle>DF:Index</PageTitle>

<h1>Hello,</h1>

Welcome to my personal site.  I am hoping to build this out over time with examples of my work.  Have a look around!

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
