@page "/"

<PageTitle>DF:Index</PageTitle>

<h1>Hello,</h1>
<br />
Welcome to my personal site.  I am hoping to build this out over time with examples of my work.  
<br />
<br />
I am currently working as a senior solutions architect/senior software engineer at the American Institutes for Research, 
an education-focused not-for-profit organization located in Washington, D.C.
<br />
<br />
This site will combine a few passions, hopefully, as well as some information about myself 
and some code examples in case I ever find myself in an open-web interview :D
<br />
<br />
Have a look around!  This site's github can be found <a href="https://github.com/dan4ist/DFBlazor">over here</a>.
<br />
<br />
<br />
<div class="row">
    <div class="col-3">
        <div class="card bg-dark text-white">
            <NavLink class="nav-link" href="resume"><img class="card-img-top" src="/images/job.jpeg" alt="I kinda want a new one right now so do your worst" style="height:250px"></NavLink>
            <div class="card-header">
                Oh wow, an online resume!
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-dark text-white">
            <NavLink class="nav-link" href="codesamples"><img class="card-img-top" src="/images/code.jpg" alt="Bruh, they askin' you THESE questions? sheesh" style="height:250px" /></NavLink>
            <div class="card-header">
                Samples of Leetcode Answers
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-dark text-white">
            <NavLink class="nav-link" href="fetchdata"><img class="card-img-top" src="/images/weather.jpg" alt="Just don't go outside, ez'" style="height:250px" /></NavLink>
            <div class="card-header">
                RNG Weather Forecast (now with Fluxor!)
            </div>
        </div>
    </div>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
