<h3>References</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Codewrinkles</h5>
            <p>Very easy-to-follow videos with great explanation.</p>
            <a href="https://www.youtube.com/watch?v=LBByZRhyZ8U&t=2s">Authentication in Blazor Server</a>
            <a href="https://www.youtube.com/watch?v=3pOVrXim4OQ">Claims Based Authorization in Blazor Server</a>
            <a href="https://www.youtube.com/watch?v=dt7jvGc24FE">Role Based Authorization in Blazor Server</a>
            <br />
            <br />
            <h5>Other</h5>
            <a href="https://github.com/Blazored/TextEditor">Blazored Text Editor (QuillJS)</a>
        </div>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="row">
                <div class="col">
                    <h5>TODO</h5>
                    <p>Stuff do to...</p>
                    <ul>
                        <li>
                            <a href="">Open AI API</a>
                            <a href="">Google Maps API</a>
                            <a href="">GraphQL</a>
                            <a href="">Azure Certs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <br />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

}
